body {
  font-family: Arial, sans-serif;
  background-image: url("https://img.freepik.com/premium-photo/beautiful-hd-wallpaper-hyper-realistic-colorful-image_1077802-353381.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 0;
}

.container {
  background: #0070BB;
  color: gold;
  margin-left: -400px;
  margin-top: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

input {
  width: 60%;
  padding: 10px;
  background-color: antiquewhite;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 3px;
}

button {

  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #eee;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: darkred;
  background-color: lightslategrey;
}


.container:hover {
  background-color: #1da1f2;

}

li {
  background-color: #00CCFF;
  color: black;
}

li:hover {
  background-color: #0070BB;
}